@model LabFoto.Models.Tables.Partilhavel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Partilhavel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="ui form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="field">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome"/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Validade"></label>
                    <input asp-for="Validade" value="" />
                    <span asp-validation-for="Validade" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Password"></label>
                    <input asp-for="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="ServicoFK"></label>
                    <select asp-for="ServicoFK" asp-items="ViewBag.ServicoFK"></select>
                </div>
                <div class="field">
                    <input type="submit" value="Create" class="ui button primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
