@model LabFoto.Models.ViewModels.PartilhavelIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Partilháveis</h1>

<form asp-controller="Partilhaveis" asp-action="IndexFilter" class="mb-2 unselectable"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#partilhaveisList"
      id="PartilhaveisSearchForm" data-ajax-success="tooltip()">

    <div class="ui segment padded">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class=" eight wide field">
                    <div class="ui transparent left icon input large">
                        <input type="search" id="NomeSearch" placeholder="Nome do partilhável..." name="nomeSearch">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="eight wide field">
                    <div class="ui button blue mini" onclick="submitSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>

            <div id="searchOptions" style="display:none" class="mt-4">

                <div class="fields mb-0">
                    <div class="eight wide field">
                        <small class="form-text text-muted">
                            Serviço
                        </small>
                    </div>
                    <div class="eight wide field">
                        <small class="form-text text-muted">
                            Validade
                        </small>
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field" id="servicosDropdown"
                         onkeyup="this.onchange()" onchange="submitSearchForm()" onsearch="this.onchange()">
                    </div>
                    <div class="eight wide field" id="validadeDropdown"
                         onkeyup="this.onchange()" onchange="submitSearchForm()" onsearch="this.onchange()">
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="mt-2 pointer col-md-4" id="expandSearchOptions">
                    <div id="expandSearchSymbol">
                        <i class="far fa-plus-square"></i>
                        <span>Expandir opções de pesquisa</span>
                    </div>
                    <div id="collapseSearchSymbol" style="display:none">
                        <i class="far fa-minus-square"></i>
                        <span>Ocultar opções de pesquisa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-md-6">
            <span class="ui blue mini button" onclick="showModal('modalNovoPartilhavel', false)">
                <i class="fas fa-plus"></i> Novo Partilhável
            </span>
        </div>
        <div class="col-md-3">
            <div class="content" style="padding-top:10px;">
                <span>Ordenar por </span>
                <div class="ui inline dropdown">
                    <input type="hidden" name="Ordem" onchange="submitSearchForm()" />
                    <span class="text">data de criação</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="active item" data-text="data de criação" data-value="data">Data de criação</div>
                        <div class="item" data-text="nome" data-value="nome">Nome</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content" style="padding-top:10px;">
                <div class="ui inline dropdown">
                    <input type="hidden" name="PartilhaveisPerPage" onchange="submitSearchForm()" />
                    <span>Ver </span>
                    <span class="text">@ViewData["partPP"]</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-text="10" data-value="10">10</div>
                        <div class="item" data-text="25" data-value="25">25</div>
                        <div class="item" data-text="50" data-value="50">50</div>
                    </div>
                </div>
                <span> por página</span>
            </div>
        </div>
    </div>

    <div id="partilhaveisList" class="mt-3">
        <partial name="PartialViews/_IndexCards" model="@Model" />
    </div>
</form>

<div id="validadeBackup" hidden></div>
<div id="servicosBackup" hidden></div>

<div class="ui modal basic small fluidCorners" id="modalNovoPartilhavel">
    <div class="content">
        <div class="ui segment">
            <p class="ui blue ribbon label mb-3">Criar Partilhavel</p>
            <div class="ui form">
                <label class="font-weight-bold" style="color:black;">Serviço</label>
                <div class="field" id="newPartilhavel">

                </div>
                <span class="ui button primary" onclick="newPartilhavel()">Continuar</span>
                <span class="ui button ml-1" onclick="hideModal('modalNovoPartilhavel')">Cancelar</span>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            $("#validadeDropdown").html(smallLoader);
            $("#servicosDropdown").html(smallLoader);

            // A dropdown dos metadados são carregadas para um div de backup
            // Em seguida, são colocadas no devido sitio. Quando for necessário limpar pesquisa, basta
            // recuperar o html dos divs de backup
            $("#validadeBackup").load(siteUrl + "/Partilhaveis/ValidadeDropdown", function ()
            {
                $("#validadeDropdown").html($("#validadeBackup").html());
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });
            $("#servicosBackup").load(siteUrl + "/Servicos/ServicosDropdown", function ()
            {
                $("#servicosDropdown").html($("#servicosBackup").html());
                $("#newPartilhavel").html($("#servicosBackup").html());
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });

            tooltip();
        });

        function newPartilhavel()
        {
            let servicoId = $(".item.active.selected").data("value");
            window.location.href = siteUrl + `/Partilhaveis/Create?servicoID=${servicoId}`;
        }

        function tooltip()
        {
            $('[data-toggle="tooltip"]').tooltip();
        }

        $(".input").on('keyup', function (e)
        {
            if (e.keyCode == 13)
            {
                submitSearchForm();
            }
        });

        clearSearch = () =>
        {
            $(`#searchParams input[type="search"]`).val("");
            $(`#searchParams input[type="date"]`).val("");
            // Recarregar as dropdows dos tipos e dos serviços solicitados
            // Estes encontram-se num div de backup, pois tem o layout do semantic-ui
            // Assim evita-se alterar o codigo do semantic-ui, pois isso pode levantar problemas
            $("#validadeDropdown").html($("#validadeBackup").html());
            $("#servicosDropdown").html($("#servicosBackup").html());
            $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            submitSearchForm();
        };

        // Submit do form das pesquisas dos servicos
        submitSearchForm = (page) =>
        {
            $("#pageNum").val(page);
            $("#PartilhaveisSearchForm").submit();
            $("#partilhaveisList").html(loader);
        };
    </script>

    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('success', '@ViewData["Feedback"]');
            }, false);
        </script>
    }
}