@model LabFoto.Models.ViewModels.PartilhavelDetailsViewModel

@{
    ViewData["Title"] = $"Partilhável - {Model.Partilhavel.Nome}";
}

<form class="form-signin" asp-action="Entrega" asp-controller="Partilhaveis">
    <h1>Bem vindo</h1>
    <h3>@Model.Partilhavel.Nome</h3>
    <hr />
    <input name="ID" value="@Model.Partilhavel.ID" type="hidden" />
    <div class="ui form">
        <div class="field">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="mb-1" />
            <div class="ml-2">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="field">
            <button type="submit" class="ui button primary">Entrar</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
