@model LabFoto.Models.ViewModels.ServicosCreateViewModel

<div class="ui multiple search selection dropdown">
    <input type="hidden" name="ServSolicitados">
    <i class="dropdown icon"></i>
    <div class="default text">Selecione o(s) tipo(s)</div>
    <div class="menu">
        @foreach (var serv in Model.ServSolicitados)
        {
            <div class="item" data-value="@serv.Value">@serv.Text</div>
        }
    </div>
</div>