@model LabFoto.Models.ViewModels.ServicosCreateViewModel

@foreach (var tipo in Model.TiposList)
{
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" name="Tipos" value="@tipo.Value" checked="@tipo.Selected" class="custom-control-input" id="tipos_@tipo.Value" />
        <label class="custom-control-label" for="tipos_@tipo.Value">@tipo.Text</label>
    </div>
}