@model SelectList

    <select
            id="Galeria_ServicoFK"
            name="servicoID"
            class="ui search dropdown mb-1"
            asp-items="@Model">
        <option value="">Escolha um Serviço...</option>
    </select>