@model IEnumerable<LabFoto.Models.Tables.Fotografia>

<div class="my-gallery" id="my-gallery" itemscope>
    @foreach (var foto in Model)
    {
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="@foto.Thumbnail_Large" itemprop="contentUrl">
                <img src="@foto.Thumbnail_Medium" itemprop="thumbnail" alt="Image description" />
                <img class="hide" src="@foto.Thumbnail_Large"/>
            </a>
            <figcaption itemprop="caption description">@foto.Nome</figcaption>
        </figure>
    }
</div>