@model  LabFoto.Models.ViewModels.UsersCreateViewModel

@{
    ViewData["Title"] = "Criar Novo Utilizador";
}

<h1>Criar Utilizador</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="userForm">
            <div class="ui form">
                <h4>Criar um novo utilizador.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="field">
                    <label asp-for="User.Email"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="User.Password"></label>
                    <input asp-for="User.Password" class="form-control" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="User.ConfirmPassword"></label>
                    <input asp-for="User.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="User.ConfirmPassword" class="text-danger"></span>
                </div>
                @{
                    if (Model.IsAdmin)
                    {
                        <div class="field">
                            <label asp-for="User.Role"></label>
                            <select asp-for="User.Role" asp-items="Model.Roles" class="ui search dropdown">
                            </select>
                        </div>
                    }
                }
                <span class="ui button primary" onclick="confirmationModal()">Criar</span>
                <span onclick="modalCancel('modalCancel')" class="ui button cancel">Cancelar</span>
            </div>
        </form>
    </div>
</div>

<div class="ui basic mini modal" id="confirmationModal">
    <div class="content">
        <p>Tem a certeza que pretende criar o Utilizador?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button" onclick="">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

<div class="ui basic mini modal" id="modalCancel">
    <div class="content">
        <p>Tem a certeza que pretende cancelar?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <a class="ui green inverted button" asp-action="Index">
            <i class="checkmark icon"></i>
            Sim
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function ()
        {
            $(".ui.dropdown").dropdown();
        });

        function confirmationModal()
        {
            $("#confirmationModal").modal({
                closable: false,
                onDeny: function () {
                    $("#confirmationModal").modal('hide');
                },
                onApprove: function ()
                {
                    $("#userForm").submit();
                },
                transition: 'scale'
            }).modal('show');
        }
    </script>
}
