@model LabFoto.Models.Tables.Tipo

<div class="ui basic segment pb-0 pt-0 mb-0 ">
    <form asp-action="Edit" asp-controller="Tipos"
          onsubmit="submitEditIndex(event, @Model.ID, 'Tipos', 'Tipo')"
          id="editFormIndex_@Model.ID">
        <div class="ui transparent left icon fluid input">
            @Html.HiddenFor(model => model.ID)
            <input asp-for="Nome" class="font-weight-bolder" />
            <i class="edit outline icon"></i>
            <span class="ui button float-right saveButton" onclick="confirmForm('editFormIndex_@Model.ID')">
                <i class="save outline icon"></i> Guardar
            </span>
            <span class="ui button float-right" onclick="cancelEditIndex(@Model.ID)">
                <i class="x icon icon"></i> Cancelar
            </span>
        </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <span class="text-danger field-validation-error">
                <span class="">É necessário preencher o nome.</span>
            </span>
        }
    </form>
</div>

@* Modal de confirmação da edição do Tipo *@
<div class="ui basic mini modal" id="confirmarSubmit">
    <div class="content">
        <p>Tem a certeza que pretende editar o tipo?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>
