@model LabFoto.Models.Tables.Tipo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tipos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <partial name="_TiposCreateForm" model="@Model">
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

