@model SelectList

<select data-val="true" 
        data-val-required="É necessário escolher um requerente." 
        id="Servico_RequerentesFK" 
        name="Servico.RequerenteFK" 
        class="form-control" 
        asp-items="@Model">
    <option value="0" selected disabled>---</option>
</select>