@model SelectList

<select data-val="true"
        data-val-required="É necessário escolher um requerente."
        id="Servico_RequerentesFK"
        name="Servico.RequerenteFK"
        class="ui search dropdown"
        asp-items="@Model">
    <option value="">Escolha um requerente</option>
</select>
