@model LabFoto.Models.ViewModels.ServicosCreateViewModel

@{
    ViewData["Title"] = "Ficha de Pedido de Serviço";
}

<h1>Criar novo Serviço</h1>

<hr />
<form asp-action="Create" id="servicosCreateForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="ui form">
        <div class="fields">
            <div class="ten wide field">
                <label asp-for="Servico.Nome"></label>
                <input asp-for="Servico.Nome" />
                <span asp-validation-for="Servico.Nome" class="text-danger"></span>
            </div>
            <div class="six wide field">
                <label asp-for="Servico.DataDeCriacao"></label>
                <input asp-for="Servico.DataDeCriacao" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Servico.DataDeCriacao" class="text-danger"></span>
            </div>
        </div>
        <div class="fields mb-0">
            <div id="requerentesDropbox" class="eight wide field">
                <partial name="PartialViews/_RequerentesDropdown" model="@Model" />
            </div>
            <div class="eight wide field">
                <label asp-for="Servico.IdentificacaoObra"></label>
                <input asp-for="Servico.IdentificacaoObra" />
                <span asp-validation-for="Servico.IdentificacaoObra" class="text-danger"></span>
            </div>
        </div>
        <div class="fields">
            <div class="eight wide field">
                <div class="ui mini basic blue button" id="btnModalNovoRequerente"><i class="fas fa-user-plus"></i><span class="ml-2">Novo Requerente</span></div>
            </div>
            <div class="eight wide field"></div>
        </div>
        <div class="fields">
            <div class="eight wide field">
                <label>Tipo de serviço:</label>
                <div class="fluid field mb-1" id="tiposCheckboxes">
                </div>
                <div class="ui mini basic blue button" id="btnModalNovoTipo" onclick="loadAjaxForm('divFormNovoTipo', 'modalNovoTipo', siteUrl + '/Tipos/Create')"><i class="plus icon"></i><span class="ml-1">Novo Tipo</span></div>
            </div>
            <div class="eight wide field">
                <label>Serviços Solicitados:</label>
                <div class="fluid field mb-1" id="servSolicCheckboxes">
                </div>
                <div class="ui mini basic blue button" id="btnModalNovoServSolic" onclick="loadAjaxForm('divFormNovoServSolic', 'modalNovoServSolic', siteUrl + '/ServicosSolicitados/Create')"><i class="plus icon"></i><span class="ml-1">Novo Serviço Solicitado</span></div>
            </div>
        </div>
        <div class="field">
            <label asp-for="Servico.Observacoes" class="control-label font-weight-bold"></label>
            <textarea asp-for="Servico.Observacoes" class="form-control" rows="6"></textarea>
            <span asp-validation-for="Servico.Observacoes" class="text-danger"></span>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label class="control-label font-weight-bold">Datas de Execução</label>
                <div id="dataDeExecDiv"></div>
                <div class="ui mini basic blue button" id="newDataDeExecucaoInput"><i class="plus icon"></i><span class="ml-1">Nova Data</span></div>
            </div>
            <div class="four wide field">
                <label asp-for="Servico.DataEntrega"></label>
                <input asp-for="Servico.DataEntrega" />
                <span asp-validation-for="Servico.DataEntrega" class="text-danger"></span>
            </div>
            <div class="three wide field">
                <label asp-for="Servico.HorasEstudio"></label>
                <input asp-for="Servico.HorasEstudio" type="number" value="0" min="0"/>
                <span asp-validation-for="Servico.HorasEstudio" class="text-danger"></span>
            </div>
            <div class="three wide field">
                <label asp-for="Servico.HorasPosProducao"></label>
                <input asp-for="Servico.HorasPosProducao" type="number" value="0" min="0"/>
                <span asp-validation-for="Servico.HorasPosProducao" class="text-danger"></span>
            </div>
            <div class="three wide field">
                <label asp-for="Servico.Total"></label>
                <input asp-for="Servico.Total" type="number" value="0" min="0"/>
                <span asp-validation-for="Servico.Total" class="text-danger"></span>
            </div>
        </div>
        <div class="mt-3">
            <div class="ui primary button" onclick="confirmForm('servicosCreateForm')"><i class="check icon"></i><span class="ml-2">Criar</span></div>
            <div class="ui button" onclick="modalCancel('modalCancel')"><span>Cancelar</span></div>
        </div>
    </div>
</form>

<div class="ui basic mini modal" id="confirmarSubmit">
    <div class="content">
        <p>Tem a certeza que pretende criar o Serviço?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

<div class="ui basic mini modal" id="modalCancel">
    <div class="content">
        <p>Tem a certeza que pretende cancelar?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <a class="ui green ok inverted button" href="/Servicos">
            <i class="checkmark icon"></i>
            Sim
        </a>
    </div>
</div>

<div class="ui modal basic small fluidCorners" id="modalNovoRequerente">
    <div class="content" id="newRequerenteForm"></div>
</div>

<div class="ui modal basic mini fluidCorners" id="modalNovoTipo">
    <div class="content" id="divFormNovoTipo"></div>
</div>

<div class="ui modal basic mini fluidCorners" id="modalNovoServSolic">
    <div class="content" id="divFormNovoServSolic"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        jQuery(document).ready(function ($)
        {
            // Carregar as dropdowns dos tipos e dos serviços solicitados.
            $(`#tiposCheckboxes`).html(smallLoader);
            $(`#servSolicCheckboxes`).html(smallLoader);

            $(`#tiposCheckboxes`).load(siteUrl + `/Servicos/TiposAjax/`, function () {
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });

            $(`#servSolicCheckboxes`).load(siteUrl + `/Servicos/ServSolicAjax/`, function () {
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });
        });
    </script>
}