@model LabFoto.Models.Tables.Servico

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<partial name="PartialViews/_DetailsPartial" model="Model" />

<div class="ui modal superMini fluidCorners" id="modalDetailsRequerente"></div>

@section scripts
{
    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('success', '@ViewData["Feedback"]');
            }, false);
        </script>
    }
}