@model LabFoto.Models.ViewModels.ServicosCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Serviço</h1>
<hr />
<form asp-action="Edit" id="servicosEditForm">
    @Html.HiddenFor(model => model.Servico.ID)
    @Html.HiddenFor(model => model.Servico.DataDeCriacao)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="ui form">
        <div class="fields mb-0">
            <div class="eight wide field">
                <label asp-for="Servico.Nome"></label>
                <input asp-for="Servico.Nome" />
                <span asp-validation-for="Servico.Nome" class="text-danger"></span>
            </div>
            <div id="requerentesDropbox" class="eight wide field">
                <partial name="PartialViews/_RequerentesDropdown" model="@Model" />
            </div>
        </div>
        <div class="fields">
            <div class="eight wide field"></div>
            <div class="eight wide field">
                <div class="ui mini basic blue button" id="btnModalNovoRequerente"><i class="fas fa-user-plus"></i><span class="ml-2">Novo Requerente</span></div>
            </div>
        </div>
        <div class="fluid wide field">
            <label asp-for="Servico.IdentificacaoObra"></label>
            <textarea asp-for="Servico.IdentificacaoObra" rows="3"></textarea>
            <span asp-validation-for="Servico.IdentificacaoObra" class="text-danger"></span>
        </div>
        <div class="fields">
            <div class="eight wide field">
                <label>Tipo de serviço:</label>
                <div class="fluid field mb-1" id="tiposCheckboxes">
                </div>
                <div class="ui mini basic blue button" onclick="loadAjaxForm('divFormNovoTipo', 'modalNovoTipo', siteUrl + '/Tipos/Create')"><i class="fas fa-user-plus"></i><span class="ml-2">Novo Tipo</span></div>
            </div>
            <div class="eight wide field">
                <label>Serviços Solicitados:</label>
                <div class="fluid field mb-1" id="servSolicCheckboxes">
                </div>
                <div class="ui mini basic blue button" onclick="loadAjaxForm('divFormNovoServSolic', 'modalNovoServSolic', siteUrl + '/ServicosSolicitados/Create')"><i class="fas fa-user-plus"></i><span class="ml-2">Novo Serviço Solicitado</span></div>
            </div>
        </div>
        <div class="field">
            <label asp-for="Servico.Observacoes" class="control-label font-weight-bold"></label>
            <textarea asp-for="Servico.Observacoes" class="form-control" rows="6"></textarea>
            <span asp-validation-for="Servico.Observacoes" class="text-danger"></span>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label class="control-label font-weight-bold">Datas de Execução</label>
                <div id="dataDeExecDiv">
                    @foreach (var d in Model.Servico.Servicos_DataExecucao)
                    {
                        <div class="form-inline" id="dataExec_@d.DataExecucaoFK">
                            <input type="date" name="DataExecucao" class="form-control mb-2 w-75" value="@string.Format("{0:yyyy-MM-dd}", d.DataExecucao.Data)" />
                            <span class="pointer form-check-inline mb-2 ml-2" onclick="deleteElement('dataExec_@d.DataExecucaoFK')"><i class="far fa-trash-alt ml-1"></i></span>
                        </div>
                    }
                </div>
                <div class="ui mini basic blue button" id="newDataDeExecucaoInput"><i class="fas fa-user-plus"></i><span class="ml-2">Nova Data</span></div>
            </div>
            <div class="four wide field">
                <label asp-for="Servico.DataEntrega"></label>
                <input asp-for="Servico.DataEntrega" />
                <span asp-validation-for="Servico.DataEntrega" class="text-danger"></span>
            </div>
            <div class="three wide field">
                <label asp-for="Servico.HorasEstudio"></label>
                <input asp-for="Servico.HorasEstudio" />
                <span asp-validation-for="Servico.HorasEstudio" class="text-danger"></span>
            </div>
            <div class="three wide field">
                <label asp-for="Servico.HorasPosProducao"></label>
                <input asp-for="Servico.HorasPosProducao" />
                <span asp-validation-for="Servico.HorasPosProducao" class="text-danger"></span>
            </div>
            <div class="three wide field">
                <label asp-for="Servico.Total"></label>
                <input asp-for="Servico.Total" />
                <span asp-validation-for="Servico.Total" class="text-danger"></span>
            </div>
        </div>
        <div class="mt-5">
            <div class="ui primary button" onclick="confirmForm('servicosEditForm')"><i class="save icon"></i><span class="ml-2">Guardar</span></div>
            <div class="ui button" onclick="modalCancel('modalCancel')"><span>Cancelar</span></div>
        </div>
    </div>
</form>

<div class="ui modal basic small fluidCorners" id="modalNovoRequerente">
    <div class="content" id="newRequerenteForm">
    </div>
</div>

<div class="ui modal basic mini fluidCorners" id="modalNovoTipo">
    <div class="content" id="divFormNovoTipo"></div>
</div>

<div class="ui modal basic mini fluidCorners" id="modalNovoServSolic">
    <div class="content" id="divFormNovoServSolic"></div>
</div>

<div class="ui basic mini modal" id="confirmarSubmit">
    <div class="content">
        <p>Tem a certeza que pretende editar o serviço?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

<div class="ui basic mini modal" id="modalCancel">
    <div class="content">
        <p>Tem a certeza que pretende cancelar?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <a class="ui green ok inverted button" href="/Servicos/@ViewData["ReturnUrl"]">
            <i class="checkmark icon"></i>
            Sim
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var loading = '<div class="ui active centered inline small loader"></div>';

        jQuery(document).ready(function ($) {
            $(`#tiposCheckboxes`).html(loading);
            $(`#servSolicCheckboxes`).html(loading);
            $(`#tiposCheckboxes`).load(siteUrl + `/Servicos/TiposAjax/@Model.Servico.ID`, function () {
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });
            $(`#servSolicCheckboxes`).load(siteUrl + `/Servicos/ServSolicAjax/@Model.Servico.ID`, function () {
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });
        });
    </script>
}