@model LabFoto.Models.ViewModels.ServicosIndexViewModel

@{
    ViewData["Title"] = "Serviços";
}

<h1>Serviços</h1>

<div class="row" style="padding-left:15px">
</div>

<form asp-controller="Servicos" asp-action="IndexFilter" class="mb-2 unselectable"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#cardsServicos"
      data-ajax-success="resetAccordionCollapse"
      id="servicosIndexSearchForm">

    <div class="ui segment padded">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class=" eight wide field mb-3">
                    <div class="ui transparent left icon input large">
                        <input type="search" id="NomeSearch" placeholder="Nome do serviço..." name="nomeSearch">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="eight wide field mb-1">
                    <div class="ui button blue mini" onclick="submitSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>

            <div id="searchOptions" style="display:none" class="mt-4">

                <div class="fields">
                    <div class="eight wide field mb-2">
                        <div class="ui transparent left icon input">
                            <input type="search" id="requerenteSearch" placeholder="Requerente..." name="Requerente">
                            <i class="user outline icon"></i>
                        </div>
                    </div>
                    <div class="eight wide field mb-2">
                        <div class="ui transparent left icon input">
                            <input type="search" id="obraSearch" placeholder="Indentificação/Obra..." name="Obra">
                            <i class="pencil alternate icon"></i>
                        </div>
                    </div>
                </div>

                <div class="fields mb-0">
                    <div class="eight wide field mb-2">
                        <small class="form-text text-muted">
                            Tipo
                        </small>
                        <div id="searchTiposCB"
                             onkeyup="this.onchange()" onchange="submitSearchForm()" onsearch="this.onchange()">
                        </div>
                    </div>
                    <div class="eight wide field mb-2">
                        <small class="form-text text-muted">
                            Serviço Solicitado
                        </small>
                        <div id="searchServSolicCB"
                             onkeyup="this.onchange()" onchange="submitSearchForm()" onsearch="this.onchange()">
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="eight wide field">
                        <small class="form-text text-muted  ">
                            Desde
                        </small>
                        <input type="date" class="searchServicoDate" name="DateMin"
                               onkeyup="this.onchange()" onchange="submitSearchForm()" onsearch="this.onchange()">
                    </div>
                    <div class="eight wide field">
                        <small class="form-text text-muted">
                            Até
                        </small>
                        <input type="date" id="dataSearchMax" name="DateMax"
                               onkeyup="this.onchange()" onchange="submitSearchForm()" onsearch="this.onchange()">
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="mt-2 pointer col-md-4" id="expandSearchOptions">
                    <div id="expandSearchSymbol">
                        <i class="far fa-plus-square"></i>
                        <span>Expandir opções de pesquisa</span>
                    </div>
                    <div id="collapseSearchSymbol" style="display:none">
                        <i class="far fa-minus-square"></i>
                        <span>Ocultar opções de pesquisa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-md-6">
            <a class="ui blue mini button" href="@Url.Action("Create","Servicos")">
                <i class="fas fa-plus"></i> <span class="ml-1">Novo Serviço</span>
            </a>
        </div>
        <div class="col-md-3">
            <div class="content" style="padding-top:10px;">
                <span>Ordenar por </span>
                <div class="ui inline dropdown">
                    <input type="hidden" name="Ordem" onchange="submitSearchForm()" />
                    <span class="text">data de criação</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="active item" data-text="data de criação" data-value="data">Data de criação</div>
                        <div class="item" data-text="nome" data-value="nome">Nome</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content" style="padding-top:10px;">
                <div class="ui inline dropdown">
                    <input type="hidden" name="ServicosPerPage" onchange="submitSearchForm()" />
                    <span>Ver </span>
                    <span class="text" onchange="servicosPerPageRefresh">@ViewData["servPP"]</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-text="10" data-value="10">10</div>
                        <div class="item" data-text="25" data-value="25">25</div>
                        <div class="item" data-text="50" data-value="50">50</div>
                    </div>
                </div>
                <span> por página</span>
            </div>
        </div>
        <div class="col-md-1">
            <span class="btn btn-sm btn-dark float-right ml-2 accordionOptions pointer" id="accordionExpand" data-toggle="tooltip" title="Expandir detalhes">
                <i class="fas fa-chevron-down"></i>
            </span>
            <span class="btn btn-sm btn-dark float-right ml-2 accordionOptions pointer" id="accordionCollapse" style="display:none;" data-toggle="tooltip" title="Ocultar detalhes">
                <i class="fas fa-chevron-up"></i>
            </span>
        </div>
    </div>

    <div id="cardsServicos">
        <partial name="PartialViews/_IndexCards" model="@Model" />
    </div>
</form>

<div class="ui modal mini fluidCorners" id="modalDetailsRequerente">
</div>

<div id="tiposBackup" hidden></div>
<div id="servSolicBackup" hidden></div>

@section scripts
{
    <script>
        $(document).ready(function () {
            @{
                /*
                    * As dropdowns dos tipos e dos serviços solicitados são carregadas para um div de backup
                    // Em seguida, são colocadas no devido sitio. Quando for necessário limpar pesquisa, basta
                    // recuperar o html dos divs de backup
                */
            } 
            $("#tiposBackup").load(siteUrl + "/Servicos/TiposAjax", function () {
                $("#searchTiposCB").html($("#tiposBackup").html());
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });
            
            $("#servSolicBackup").load(siteUrl + "/Servicos/ServSolicAjax", function () {
                $("#searchServSolicCB").html($("#servSolicBackup").html());
                $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            });

            $('[data-toggle="tooltip"]').tooltip();
        });

        $(".input").on('keyup', function (e) {
            if (e.keyCode == 13) {
                submitSearchForm();
            }
        });

        // Submit do form das pesquisas dos servicos
        submitSearchForm = (page) => {
            $("#pageNum").val(page);
            $("#servicosIndexSearchForm").submit();
        };

        // Limpar pesquisas dos servicos
        clearSearch = () => {
            $(`#searchParams input[type="search"]`).val("");
            $(`#searchParams input[type="date"]`).val("");
            // Recarregar as dropdows dos tipos e dos serviços solicitados
            // Estes encontram-se num div de backup, pois tem o layout do semantic-ui
            // Assim evita-se alterar o codigo do semantic-ui, pois isso pode levantar problemas
            $("#searchTiposCB").html($("#tiposBackup").html());
            $("#searchServSolicCB").html($("#servSolicBackup").html());
            $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
            submitSearchForm();
        };

        // Expandir e collapsar os accordions do Index dos serviços
        $("#accordionExpand").click(function (e) {
            e.preventDefault();
            $(".accordionBody").addClass("show");
            $(".accordionOptions").toggle();
            expandedAccordion = true;
        });

        $("#accordionCollapse").click(function (e) {
            e.preventDefault();
            $(".accordionBody").removeClass("show");
            $(".accordionOptions").toggle();
            expandedAccordion = false;
        });

        resetAccordionCollapse = () =>
        {
            $('[data-toggle="tooltip"]').tooltip();
            if (expandedAccordion) {
                $(".accordionBody").addClass("show");
            }
        };
    </script>

    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        string type = "success";
        if (ViewData["Type"] != null) { type = (string)ViewData["Type"]; }
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('@type', '@ViewData["Feedback"]');
            }, false);
        </script>
    }
}
