@model  IEnumerable<LabFoto.Models.ViewModels.PartilhavelGAViewModel>

    <div id="accordion">
        @foreach (var item in Model)
        {
            string photoSelectedFeebackClass = (item.HasPhotosSelected) ? "" : "hide";

            <div class="card">
                <div class="card-header">
                    <div class="mb-0">
                        <div class="ui grid">
                            <div class="twelve wide column">
                                <h5 class="pointer" style="margin: 10px 0;"
                                    data-toggle="collapse" data-target="#collapse_@item.Galeria.ID" aria-controls="collapse_@item.Galeria.ID"
                                    onclick="startGetPhoto('@item.Galeria.ID')">
                                    @item.Galeria.Nome <i class="caret down icon"></i>
                                    
                                    <span class="@photoSelectedFeebackClass ml-3" id="checkFeedback_@item.Galeria.ID" data-toggle="tooltip" title="Contém fotos selecionadas">
                                        <i class="check blue icon"></i>
                                    </span>
                                </h5>
                            </div>
                            <div class="four wide column" id="checkbuttons_@item.Galeria.ID" style="display:none;">
                                <div class="ui small basic icon buttons right floated">
                                    <span class="ui button" onclick="selectAllCB('#body_@item.Galeria.ID')">
                                        <i class="check circle icon"></i>
                                    </span>
                                    <span class="ui button" onclick="clearCB('#body_@item.Galeria.ID')">
                                        <i class="check circle outline icon"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="collapse_@item.Galeria.ID" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="my-gallery" id="my-gallery_@item.Galeria.ID" itemscope>
                            <div class="ui six doubling stackable cards mt-2" id="body_@item.Galeria.ID" data-loaded="false"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>