
<select id="Partilhavel_Validade"
        name="Validade"
        class="ui search dropdown fluid mb-1">
    <option value="">Escolha uma validade...</option>
    <option value="valido">Válido</option>
    <option value="expirado">Expirado</option>
</select>