@model LabFoto.Models.Tables.Requerente

<div class="card-body">
    <h5 class="card-title font-weight-bold">
        <a href="/Requerentes/Details/@Model.ID" class="plainTextLink">@Model.Nome</a>

        <a class="btn float-right bg-white pt-0 plainTextLink" href="/Requerentes/Details/@Model.ID" data-toggle="tooltip" data-placement="bottom" title="Ver Detalhes"><i class="far fa-address-card"></i></a>    
    </h5>
    <hr />
    <p>
        <i class="far fa-envelope"></i>
        <span class="card-subtitle ml-2 mt-3 mb-2"><a href="mailto:@Model.Email" style="text-decoration:none;">@Model.Email</a></span>
    </p>
    <p>
        <i class="fas fa-phone"></i>
        <span class="card-subtitle ml-2 mb-3 mt-1">@Model.Telemovel</span>
    </p>
    <p>
        <i class="fas fa-user-tie"></i>
        <span class="card-subtitle ml-2 mb-3 mt-1">@Model.Responsavel</span>
    </p>
</div>