@model LabFoto.Models.Tables.Requerente

@{
    ViewData["Title"] = "Detalhes";
}
<div class="row">
    <div class="col-md-5"></div>
    <div class="ui card pl-2" style="width: 240px !important;">
        <div class="requerenteSide" id="divDetails_@Model.ID">
            <partial name="PartialViews/_details" model="Model" />
        </div>
        <div class="requerenteSide" id="divEdit_@Model.ID" style="display:none; padding-bottom:8px;">

        </div>
    </div>
</div>

@if (Model.Servicos.Count() != 0)
{
    <div class="h5 ml-2 mb-2 font-weight-bold">Serviços</div>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                @foreach (var ser in Model.Servicos)
                {
                    <a class="item" id="list_nome" onclick="requerenteServicoDetails(`div_segment`, `@ser.ID`)" data-toggle="list" role="tab" aria-controls="home" href="#list-segment">@ser.Nome</a>
                }
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div id="list-segment" role="tabpanel" aria-labelledby="list_nome">
                <div id="div_segment"></div>
            </div>
        </div>
    </div>
}
else
{
    <div class="h5 ml-2 font-weight-bold">Não tem serviços.</div>
}



<div class="ui card" id="loadingServico" hidden>
    <div class="card-header pt-5 pb-3">
        <div class="ui placeholder">
            <div class="header">
                <div class="full line"></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui placeholder" id="observacoesPlaceholder">
                    <div class="full line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @{ /* Caso o requerente tenha serviços, mostrar o primeiro por defeito */ }
    @if (Model.Servicos.Count() != 0)
    {
        <script>
            $(document).ready(function ()
            {
                requerenteServicoDetails(`div_segment`, `@Model.Servicos.FirstOrDefault().ID`);
                $('.ui.vertical.fluid.tabular.menu a:first-child').addClass('active');
            });
        </script>
    }

    <script>
        // Detalhes do serviço com o id que recebe por parametro
        // e envia para o div com o id que recebe por parametro uma partialView com os detalhes do serviço
        requerenteServicoDetails = (divId, servicoId) =>
        {
            // garantir que o serviço que já está carregado não seja carregado novamente
            if ($(`#heading_${servicoId}`).length == 0) {
                $(`#${divId}`).html($(`#loadingServico`));
                $(`#loadingServico`).removeAttr('hidden');
                $(`#${divId}`).load(siteUrl + `/Servicos/DetailsAjax/${servicoId}`, function ()
                {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            }

        };

    </script>
}