@model LabFoto.Models.Tables.Requerente

@{
    ViewData["Title"] = "Detalhes";
}
<div class="row">
    <div class="col-md-5"></div>
    <div class="ui people shape" id="div_@Model.ID">
        <div class="sides">
            <div class="side active" id="divDetails_@Model.ID">
                <partial name="_RequerenteDetailsPartial" model="Model" />
            </div>
            <div class="side" id="divEditar_@Model.ID">

            </div>
        </div>
    </div>
</div>

<div class="h5 ml-2">Serviços</div>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            @foreach (var ser in Model.Servicos)
            {
                <a class="item" id="list_nome" onclick="requerenteServicoDetails(`div_segment`, @ser.ID)" data-toggle="list" role="tab" aria-controls="home" href="#list-segment">@ser.Nome</a>
            }
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment" id="list-segment" role="tabpanel" aria-labelledby="list_nome">
            <div id="div_segment"></div>
        </div>
    </div>
</div>


