@model LabFoto.Models.Tables.Requerente

@{
    ViewData["Title"] = $"Requerente - {Model.Nome}";
    bool hasServicos = Model.Servicos.Count() != 0;
}

<div class="ui stackable centered doubling grid">
    <div class="six wide column">
        <div class="ui card">
            <div id="divDetails_@Model.ID">
                <partial name="PartialViews/_details" model="Model" />
            </div>
            <div id="divEdit_@Model.ID" style="display:none; padding-bottom:8px; padding-left:5px;">

            </div>
        </div>
    </div>
</div>

@if (hasServicos)
{
    <div class="ui raised segment mt-5">
        <p class="ui blue ribbon label mb-2 large">Serviços do Requerente</p>
        <div class="ui raised segment">
            <span class="h5 font-weight-bold">Serviços</span>
            <div class="mt-3" style="overflow-y: scroll; height:200px;">
                <div class="ui list">
                    @foreach (var ser in Model.Servicos)
                    {
                        <div class="item my-2 pointer" onclick="requerenteServicoDetails(`div_segment`, `@ser.ID`)" id="servico_@ser.ID">
                            <i class="angle right icon"></i>
                            <div class="content">
                                @ser.Nome
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="ui raised segment">
            <span class="h5 font-weight-bold">Detalhes do Serviço</span>
            <div class="mt-4" id="div_segment">

            </div>
        </div>
    </div>
}
else
{
    <p class="font-weight-bolder mt-5 h5">O Requerente não tem Serviços.</p>
}

<div class="ui modal basic small fluidCorners" id="modalSendEmail">
    <div class="content" id="sendEmailForm"></div>
</div>

<!-- #region Placeholder -->

<div class="ui card" id="loadingServico" hidden>
    <div class="card-header pt-5 pb-3">
        <div class="ui placeholder">
            <div class="header">
                <div class="full line"></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui placeholder">
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                    <div class="full line"></div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui placeholder" id="observacoesPlaceholder">
                    <div class="full line"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- #endregion -->

@section scripts
{
    @{ /* Caso o requerente tenha serviços, mostrar o primeiro por defeito */ }
    @if (Model.Servicos.Count() != 0)
    {
        <script>
            $(document).ready(function ()
            {
                requerenteServicoDetails(`div_segment`, `@Model.Servicos.FirstOrDefault().ID`);
                $('.ui.vertical.fluid.tabular.menu a:first-child').addClass('active');
            });
        </script>
    }

    <script>
        // Detalhes do serviço com o id que recebe por parametro
        // e envia para o div com o id que recebe por parametro uma partialView com os detalhes do serviço
        requerenteServicoDetails = (divId, servicoId) =>
        {
            // garantir que o serviço que já está carregado não seja carregado novamente
            if ($(`#heading_${servicoId}`).length == 0) {
                $(`#servico_${servicoId} i`).addClass("loading");
                $(`#${divId}`).load(siteUrl + `/Servicos/DetailsAjax/${servicoId}`, function ()
                {
                    $('[data-toggle="tooltip"]').tooltip();
                    $(`#servico_${servicoId} i`).removeClass("loading");
                });
            }

        };

        function enviarEmail(id)
        {
            $.ajax({
                url: "@Url.Action("SendMail","Partilhaveis")",
                type: "POST",
                data: {
                    "id": id,
                    "__RequestVerificationToken": $(`input[name='__RequestVerificationToken']`).val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp)
                {
                    if (resp.success)
                    {
                        notifyUser("success", "Email enviado com sucesso.");
                    }
                    else
                    {
                         notifyUser("error", "Erro ao enviar email.");
                    }
                },
                error: function ()
                {
                    notifyUser("error", "Erro ao enviar email.");
                }
            });
        };

    </script>
}