@model LabFoto.Models.ViewModels.RequerentesViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Requerentes</h1>

<form asp-controller="Requerentes" asp-action="IndexFilter" class="mb-2 unselectable"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#cardsRequerentes"
      id="requerentesIndexSearchForm">

    <div class="ui segment padded pb-1">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class="six wide field">
                    <div class="ui transparent left icon input large">
                        <input type="search" id="NomeSearch" placeholder="Nome do requerente..." name="nomeSearch">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ten wide field">
                    <div class="ui button blue mini" onclick="requerentesSubmitSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content ml-2 mb-4" style="padding-top:10px;">
        <div class="ui inline dropdown">
            <input type="hidden" name="RequerentesPerPage" onchange="requerentesSubmitSearchForm()" />
            <span>Ver </span>
            <span class="text" onchange="requerentesPerPageRefresh">@ViewData["rPP"]</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-text="8" data-value="8">8</div>
                <div class="item" data-text="16" data-value="16">16</div>
                <div class="item" data-text="32" data-value="32">32</div>
            </div>
        </div>
        <span> por página</span>
    </div>

    <input type="number" name="Page" id="pageReqNum" hidden />
</form>

<div id="cardsRequerentes">
    <partial name="PartialViews/_IndexCards" model="@Model" />
</div>

@section scripts
{
<script>

    $(document).ready(function () {
        $('.ui.dropdown').dropdown(); // Activar as dropdows do semantic-ui
    });

    // Submit do form das pesquisas dos requerentes
    requerentesSubmitSearchForm = (pageReq) => {
        $("#pageReqNum").val(pageReq);
        $("#requerentesIndexSearchForm").submit();
    };

    clearSearch = () => {
        $(`#searchParams input[type="search"]`).val("");
        requerentesSubmitSearchForm();
    };

    //pesquisar quando o utilizador pressionar a tecla 'ENTER'
    $(".input").on('keyup', function (e) {
        if (e.keyCode == 13) {
            requerentesSubmitSearchForm();
        };
    });
</script>
}