@model LabFoto.Models.ViewModels.RequerentesViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Requerentes</h1>

<form asp-controller="Requerentes" asp-action="IndexFilter" class="mb-2"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#cardsRequerentes"
      data-ajax-success="resetAccordionCollapse"
      id="requerentesIndexSearchForm">

    <div class="ui segment padded pb-1">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class="six wide field">
                    <div class="ui transparent left icon input large">
                        <input type="search" id="nomeSearch" placeholder="Nome do requerente..." name="nomeSearch">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ten wide field unselectable">
                    <div class="ui button blue mini" onclick="requerentesSubmitSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content ml-2 mb-4 unselectable" style="padding-top:10px;">
        <div class="ui inline dropdown">
            <input type="hidden" name="requerentesPerPage" onchange="requerentesSubmitSearchForm()" />
            <span>Ver </span>
            <span class="text" onchange="requerentesPerPageRefresh">1</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="active item" data-text="1" data-value="1">1</div>
                <div class="item" data-text="2" data-value="2">2</div>
                <div class="item" data-text="5" data-value="5">5</div>
            </div>
        </div>
        <span> por página</span>
    </div>

    <input type="number" name="pageReq" id="pageReqNum" hidden />
</form>

<div id="cardsRequerentes">
    <partial name="_IndexCardsPartialView" model="@Model" />
</div>

@section scripts
{
    <script>
        clearSearch = () => {
            $(`#searchParams input[type="search"]`).val("");
            requerentesSubmitSearchForm();
        };

        $(".input").on('keyup', function (e) {
            if (e.keyCode == 13) {
                requerentesSubmitSearchForm();
            }
        });
    </script>
}