@model LabFoto.Models.Tables.ContaOnedrive

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Conta Onedrive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="ui form">
            <form asp-action="Edit" id="contaOnedriveEditForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                    <div class="field">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                <div class="mt-3">
                    <div class="ui primary button" onclick="confirmForm('contaOnedriveEditForm')"><i class="save icon"></i><span class="ml-2">Guardar</span></div>
                    <div class="ui button" onclick="modalCancel('modalCancel')"><span>Cancelar</span></div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="ui basic mini modal" id="confirmarSubmit">
    <div class="content">
        <p>Tem a certeza que pretende editar a conta Onedrive?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

<div class="ui basic mini modal" id="modalCancel">
    <div class="content">
        <p>Tem a certeza que pretende cancelar?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <a class="ui green ok inverted button" href="~/ContasOnedrive/@ViewData["ReturnUrl"]">
            <i class="checkmark icon"></i>
            Sim
        </a>
    </div>
</div>
