@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso negado.";
}

<header class="mt-5">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem acesso a estes recursos da aplicação.</p>
</header>
