@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da password?";
}


<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <h4>Digite o seu email.</h4>
        <hr />
        <form method="post">
            <div class="ui form">
                <div class="field">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="ui button primary">Submeter</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
