@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloquado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta conta encontra-se bloquada. Por favor contacte um administrador.</p>
</header>
