@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password reposta com sucesso";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua password foi reposta. Por favor <a asp-page="./Login">clique aqui para se autenticar</a>.
</p>
