@model IEnumerable<LabFoto.Models.Tables.Metadado>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Metadados</h1>

<div id="searchForm">
    @Html.AntiForgeryToken()
    <div class="ui segment padded pb-1">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class="six wide field">
                    <div class="ui transparent left icon input large">
                        <input id="inputNome" placeholder="Nome do metadado..." name="Nome">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ten wide field">
                    <div class="ui button blue mini" onclick="submitTiposSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui vertically divided grid pl-3 mt-2" id="indexMetadados">
    <partial name="PartialViews/_IndexCards" model="Model" />
</div>

@section scripts
{
    <script>
        clearSearch = () =>
        {
            $(`#inputNome`).val("");
            submitTiposSearchForm();
        };

        $(".input").on('keyup', function (e)
        {
            if (e.keyCode == 13)
            {
                submitTiposSearchForm();
            }
        });

        function submitTiposSearchForm()
        {
            $.ajax({
                url: siteUrl + "/Metadados/IndexFilter",
                type: "POST",
                data: {
                    "Nome": $("#searchForm #inputNome").val(),
                    "__RequestVerificationToken": $("#searchForm input[name='__RequestVerificationToken']").val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp)
                {
                    $("#indexMetadados").html(resp);
                },
                error: function ()
                {
                    notifyUser('error', 'Erro ao pesquisar.');
                }
            });
        }
    </script>
}