@model IEnumerable<LabFoto.Models.Tables.Tipo>

@{
    if (Model.Count() != 0)
    {
        foreach (var tipo in Model)
        {
            <div class="row">
                <div class="sixteen wide column mb-0 mt-0" id="indexDetails_@tipo.ID">
                    <div class="ui basic segment pb-0 pt-0">
                        <i class="paperclip icon pt-2"></i>
                        <span class="font-weight-bolder">@tipo.Nome</span>
                        <div class="ui basic buttons right floated">
                            <div class="ui icon button btnEdit" onclick="showEditIndex(@tipo.ID, 'Tipos')">
                                <i class="far fa-edit"></i>
                            </div>
                            @if (tipo.Deletable)
                            {
                                <div class="ui icon button btnDelete" onclick="confirmDelete(@tipo.ID)">
                                    <i class="trash alternate outline icon"></i>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="sixteen wide column mb-0 mt-0" id="indexEdit_@tipo.ID" style="display:none;"></div>
            </div>
        }
    }
    else
    {
        <div class="my-lg-5 d-flex justify-content-center">
            <p class="font-weight-bolder">Não foram encontrados Tipos.</p>
        </div>
    }
}