@model LabFoto.Models.Tables.Metadado

    <div class="ui basic segment pb-0 pt-0">
        <i class="paperclip icon pt-2"></i>
        <span class="font-weight-bolder">@Model.Nome</span>
        <div class="ui basic buttons right floated">
            <div class="ui button btnEdit" data-toggle="tooltip" title="Editar" onclick="showEditIndex(@Model.ID, 'Metadados')">
                <i class="far fa-edit"></i>
            </div>
            <div class="ui icon button btnDelete" data-toggle="tooltip" title="Eliminar" onclick="confirmDelete(@Model.ID)">
                <i class="trash alternate outline icon"></i>
            </div>
        </div>
    </div>